* {
    font-family: sans-serif
}

.top_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*.button_basic {
    background-color: white;
    font-size: 30px;
}*/

.numbers {
    display: flex;
    justify-content: center;
}

.left_arrow,
.right_arrow {
    display: flex;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.button_basic {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button_basic:hover {
    background-color: #fff;
}

.button_basic:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    .button_basic {
        min-width: 120px;
        padding: 0 25px;
    }
}

section {
    border-color: black;
    border-width: 1px;
    border-style: solid;
    margin-left: auto;
    margin-right: auto;
}
